.full-background {
    height:100%;
    width:100%;    
    background: url('../img/banner-topo-texto.jpg');
    background-color: #d9d9d9 background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
}
.vcenter {    
    vertical-align: middle;
    bottom: 0;
    margin-top: 90%;
}
.box {
    min-height: 650px;
    max-height: auto;
}
.btn-xlarge {
    padding: 10px 38px;
    font-size: 1.5em;
    line-height: normal;    
}
.btn-login{ padding:15px 30px; bottom:0; position:absolute; left:45%; margin-bottom:100px}

.section{height: 650px;}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}
.no-border{
	border:none;
}
.no-box-shadow{
    box-shadow: none;
}
.no-border-radius{
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
}
.no-inner-shadow{
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
}
.user-avaliation{
    background-color: #eaeaea;
}
.user-avaliation p{
    font-size: 1.4em;
    color: #ffffff;
}
.user-avaliation img{
    border: 0.5em solid #005A39;    
}
.user-avaliation > .row{
    margin-bottom:25px;
}

.text-box{
    width: 80%;
    height: auto;
    background-color: #005A39;
	margin:20px;
    padding:15px;    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.tb-left{
	margin-left: -20px;
	color: #fff;
}

.tb-right{
	margin-left: 30px;
	color: #fff;
	position: absolute;
}

        #myCarousel .nav a small
        {
            display: block;
        }
        #myCarousel .nav
        {
            background: #eee;
        }
        .nav-justified > li > a
        {
            border-radius: 0px;
            padding: 20px;
        }
        .nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
        .nav-pills>li[data-slide-to="1"].active a { background-color: #16a085; }
        .nav-pills>li[data-slide-to="2"].active a { background-color: #16a085; }
        .nav-pills>li[data-slide-to="3"].active a { background-color: #16a085; }
        .nav-pills>li[data-slide-to="4"].active a { background-color: #16a085; }
        
    .tab {
    background-color: white;
    color: black;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    }

.tab:hover {
    cursor: pointer;
    text-decoration: underline;
    padding: 10px;
    border-radius: 10px;
}

.tabActive {
    background-color: green;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.tabActive:hover {
    cursor: pointer;
    text-decoration: underline;
}

#conteudo_java {
    display: none;
    text-align: center;
}

#conteudo_net {
    display: none;
    text-align: center;
}

#conteudo_infra {
    display: none;
    text-align: center;
}