<div class="formulario">
	<form id="cadastrarNota" method="post" action="#">
		<h3>Cadastrar Notas</h3>


		<div class="div-center">
			<table>
				<tr>
					<label for="lbldate" name="lbldate">Data:</label>	
					<input type="text" id="date">
				</tr>
			</table>
				<table>
					<tbody>
						<tr>
							<th>Alunos</th>
							<th>1&deg; B</th>
							<th>2&deg; B</th>
							<th>3&deg; B</th>
							<th>4&deg; B</th>
							<th>M&eacute;dia</th>
							<th>Situa&ccedil;&atilde;o</th>
						</tr>
						<h2>Turma:1337</h2>
						<tr><td>001 - Milton Vinicius</td>
							<td><input type="text"><label></td>
							<td><input type="text"><label></td>
							<td><input type="text"><label></td>
							<td><input type="text"><label></td>
							<td><input type="text" maxlength="2" size="2" name="media"></td>
							<td><input type="text" size="13" name="situacao"></td>
						</tr>
						<tr>
							<td>002 - Gustavo Fonseca</td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="2" size="2"  name="media"></td>
							<td><input type="text" size="13" name="situacao"></td>
						</tr>
						<tr>
							<td>003 - Ramon Calixto </td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="2" size="2"  name="media"></td>
							<td><input type="text" size="13" name="situacao"></td>
						</tr>
						<tr>
							<td>004 - Isabele Teixeira</td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="2" size="2"  name="media"></td>
							<td><input type="text" size="13" name="situacao"></td>
						</tr>
						<tr>
							<td>005 - Carlos Alexandre</td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="2" size="2"  name="media"></td>
							<td><input type="text" size="13" name="situacao"></td>
						</tr>
						<tr>
							<td>006 - Lucas Santos</td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="3"><label></td>
							<td><input type="text" maxlength="4" size="2"   name="media"></td>
							<td><input type="text" size="13" name="situacao"></td>
						</tr>
						<tr>
							<td>007 - Sylas Eckart</td>
							<td><input type="text"><label></td>
							<td><input type="text"><label></td>
							<td><input type="text"><label></td>
							<td><input type="text"><label></td>
							<td><input type="text" maxlength="2" size="2" name="media"></td>
							<td><input type="text" size="13" name="situacao"></td>
						</tr>
						</tbody>
					</table>
				</div>



<input type="button" value="Salvar">
<input type="button" value="Excluir">
<input type="button" value="Voltar">
</form>
</div>