		<div class="formulario">	
			<form id="consultarDisciplina" method="post" action="#">
				<h3>Consultar Disciplina</h3>
				
				
				<label for="lblCodigoDisciplina"> C&oacute;digo da Disciplina: </label>
				<input type="text" name="lblCodigoDisciplina" id="txtCodigoDisciplina"><label class="val">*</label>
				
				<label for="lblNomeDisciplina"> Nome da Disciplina: </label>
				<input type="text" name="lblNomeDisciplina" id="txtNomeDisciplina"><label class="val">*</label>
				
				<label for="lblCargaHorariaDisciplina"> Carga Hor&aacute;ria: </label>
				<input type="text" name="lblCargaHorariaDisciplina" id="txtCargaHorariaDisciplina"><label class="val">*</label>
				
				
				<input type="submit" id="btnVoltar" value="Voltar">
				<input type="submit" id="btnAlterar" value="Alterar">
				<input type="reset" id="btnLimpar" value="Limpar">
				<input type="submit" id="btnBuscar" value="Buscar">
				<input type="submit" id="btnDesativar" value="Desativar">
				<input type="submit" id="btnCadastrar" value="Salvar">
			</form>
		</div>
